<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="final_assem2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000139721801499459 -0.00891990633481813 0.0545743288252821"
        rpy="0 0 0" />
      <mass
        value="0.0001" />
      <inertia
        ixx="0.000101651221165473"
        ixy="-5.03027315623083E-07"
        ixz="-3.1472039365138E-07"
        iyy="8.30155851187896E-05"
        iyz="-1.16211310714731E-07"
        izz="7.63971955831707E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.831372549019608 0.690196078431373 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  
  
  
  
  <link
    name="left_white_link">
    <inertial>
      <origin
        xyz="-0.00351284827896975 0.014089389436349 -0.0175712720648845"
        rpy="0 0 0" />
      <mass
        value="0.0001" />
      <inertia
        ixx="6.1721720458214E-06"
        ixy="4.6117482237348E-08"
        ixz="-5.94751872255315E-08"
        iyy="3.72985141415E-06"
        iyz="2.54897330664247E-06"
        izz="2.60947543834273E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/left_white_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/left_white_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_white_top_joint"
    type="revolute">
    <origin
      xyz="0.054451 -0.00061239 0.048645"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_white_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="1000"
      velocity="1" />
  </joint>
  <link
    name="left_lower_leg">
    <inertial>
      <origin
        xyz="0.00231170012266655 -0.0227052632231051 -0.0282250918724002"
        rpy="0 0 0" />
      <mass
        value="0.0001" />
      <inertia
        ixx="9.0007542462057E-06"
        ixy="-8.52452741139558E-08"
        ixz="-1.12616251474775E-07"
        iyy="5.41600205355566E-06"
        iyz="-3.44596894822395E-06"
        izz="3.64095364398878E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/left_lower_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.831372549019608 0.690196078431373 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/left_lower_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_white_bottom_joint"
    type="revolute">
    <origin
      xyz="-0.007 0.037419 -0.046903"
      rpy="0 0 0" />
    <parent
      link="left_white_link" />
    <child
      link="left_lower_leg" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="1000"
      velocity="1" />
  </joint>
  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="0.0163975042440271 1.62206759338895E-06 1.44651305899607E-05"
        rpy="0 0 0" />
      <mass
        value="2.5" />
      <inertia
        ixx="5.18918517052579E-05"
        ixy="1.18719486965528E-09"
        ixz="1.02936141483569E-08"
        iyy="2.85933477088047E-05"
        iyz="-7.16321375599296E-09"
        izz="2.85332892566743E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.831372549019608 0.690196078431373 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="0.0012149 -0.03698 -0.047249"
      rpy="0 0 0" />
    <parent
      link="left_lower_leg" />
    <child
      link="left_wheel" />
    <axis
      xyz="1 0 0" />
    <limit
      effort="1000"
      velocity="20" />
  </joint>
  
  
  
  
  <link
    name="right_white_link">
    <inertial>
      <origin
        xyz="0.00351284814097716 0.0140893887999058 -0.0175712711517945"
        rpy="0 0 0" />
      <mass
        value="0.0001" />
      <inertia
        ixx="6.17217171245867E-06"
        ixy="-4.61174422768703E-08"
        ixz="5.94752484317574E-08"
        iyy="3.729851486379E-06"
        iyz="2.54897310999381E-06"
        izz="2.60947501858956E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/right_white_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/right_white_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_white_top_joint"
    type="revolute">
    <origin
      xyz="-0.054549 -0.00061239 0.048645"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_white_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="1000"
      velocity="1" />
  </joint>
  <link
    name="right_lower_leg">
    <inertial>
      <origin
        xyz="0.00343829959902858 -0.0227052608505364 -0.0282250952504051"
        rpy="0 0 0" />
      <mass
        value="0.0001" />
      <inertia
        ixx="9.00075447641487E-06"
        ixy="8.52453919454247E-08"
        ixz="1.12616172038318E-07"
        iyy="5.41600209857497E-06"
        iyz="-3.44596897863516E-06"
        izz="3.64095387833541E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/right_lower_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.831372549019608 0.690196078431373 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/right_lower_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_white_bottom_joint"
    type="revolute">
    <origin
      xyz="0.00125 0.037419 -0.046903"
      rpy="0 0 0" />
    <parent
      link="right_white_link" />
    <child
      link="right_lower_leg" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="1000"
      velocity="1" />
  </joint>
  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="-0.0146672527215705 1.25422636613262E-05 7.36024777815703E-06"
        rpy="0 0 0" />
      <mass
        value="2.5" />
      <inertia
        ixx="5.18920350674668E-05"
        ixy="-8.93025684542342E-09"
        ixz="-5.24069237927273E-09"
        iyy="2.85481495298968E-05"
        iyz="-2.68320179417243E-08"
        izz="2.85786707981383E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.831372549019608 0.690196078431373 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem2/meshes/right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="0.0028252 -0.03698 -0.047249"
      rpy="0 0 0" />
    <parent
      link="right_lower_leg" />
    <child
      link="right_wheel" />
    <axis
      xyz="1 0 0" />
    <limit
      effort="1000"
      velocity="20" />
  </joint>
  



  
  

  <!-- Fortress gz_ros2_control plugin -->
  <gazebo>
    <plugin filename="libgz_ros2_control-system.so"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>/home/pranav/ros2_ws/install/final_assem2/share/final_assem2/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- Wheel friction -->
  <gazebo reference="left_wheel"><mu1>0.9</mu1><mu2>0.9</mu2><kp>500000</kp><kd>10</kd></gazebo>
  <gazebo reference="right_wheel"><mu1>0.9</mu1><mu2>0.9</mu2><kp>500000</kp><kd>10</kd></gazebo>

  <!-- ========== IMU Sensor (Fortress) ========== -->
  <link name="imu_link">
    <inertial>
      <mass value="0.0001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
  </joint>
  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <imu>
        <angular_velocity>
          <x><noise type="gaussian"><mean>0</mean><stddev>0.002</stddev></noise></x>
          <y><noise type="gaussian"><mean>0</mean><stddev>0.002</stddev></noise></y>
          <z><noise type="gaussian"><mean>0</mean><stddev>0.002</stddev></noise></z>
        </angular_velocity>
        <linear_acceleration>
          <x><noise type="gaussian"><mean>0</mean><stddev>0.02</stddev></noise></x>
          <y><noise type="gaussian"><mean>0</mean><stddev>0.02</stddev></noise></y>
          <z><noise type="gaussian"><mean>0</mean><stddev>0.02</stddev></noise></z>
        </linear_acceleration>
      </imu>
      <topic>/imu/data</topic>
      <gz_frame_id>imu_link</gz_frame_id>
    </sensor>
  </gazebo>

  <!-- ========== ros2_control (6 joints only) ========== -->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="left_white_top_joint">
      <command_interface name="position">
        <param name="min">-1.5708</param>
        <param name="max">1.5708</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="left_white_bottom_joint">
      <command_interface name="position">
        <param name="min">-1.5708</param>
        <param name="max">1.5708</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_white_top_joint">
      <command_interface name="position">
        <param name="min">-1.5708</param>
        <param name="max">1.5708</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_white_bottom_joint">
      <command_interface name="position">
        <param name="min">-1.5708</param>
        <param name="max">1.5708</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="left_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-5</param>
        <param name="max">20</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-5</param>
        <param name="max">20</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>

  </robot>
