<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="final_assem1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000139721801491114 -0.00891990633346567 0.0545743288243184"
        rpy="0 0 0" />
      <mass
        value="0.159950800281223" />
      <inertia
        ixx="0.000101651221169945"
        ixy="-5.03027315632965E-07"
        ixz="-3.14720393636409E-07"
        iyy="8.30155851218814E-05"
        iyz="-1.16211308639477E-07"
        izz="7.63971955846295E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.831372549019608 0.690196078431373 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_upper_leg">
    <inertial>
      <origin
        xyz="-0.00184708635185678 0.0100059621422932 -0.0285283368255314"
        rpy="0 0 0" />
      <mass
        value="0.00481811147020876" />
      <inertia
        ixx="1.41741993918074E-06"
        ixy="4.69213357044146E-09"
        ixz="-1.38700106399785E-08"
        iyy="1.27343060592573E-06"
        iyz="4.28528860028656E-07"
        izz="2.07027979604884E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/left_upper_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.831372549019608 0.690196078431373 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/left_upper_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_joint "
    type="revolute">
    <origin
      xyz="0.051451 0.021878 0.068469"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_upper_leg" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="left_white_link">
    <inertial>
      <origin
        xyz="-0.00351284833519087 0.0128483484296868 -0.0184981200243466"
        rpy="0 0 0" />
      <mass
        value="0.0136561820327731" />
      <inertia
        ixx="6.17217204117299E-06"
        ixy="4.19205286188994E-08"
        ixz="-6.25043138706162E-08"
        iyy="4.07412559256232E-06"
        iyz="2.44806528777692E-06"
        izz="2.26520125441869E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/left_white_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/left_white_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_white_top_joint"
    type="revolute">
    <origin
      xyz="0.054451 -0.00061239 0.048645"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_white_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="left_lower_leg">
    <inertial>
      <origin
        xyz="0.00231170043375459 -0.020218633930963 -0.0300564744848089"
        rpy="0 0 0" />
      <mass
        value="0.0110711607256669" />
      <inertia
        ixx="9.00075441423128E-06"
        ixy="-7.53431601817711E-08"
        ixz="-1.1946791590394E-07"
        iyy="5.98802246702853E-06"
        iyz="-3.24532440359061E-06"
        izz="3.06893341498831E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/left_lower_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.831372549019608 0.690196078431373 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/left_lower_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_white_bottom_joint"
    type="revolute">
    <origin
      xyz="-0.007 0.034106 -0.049363"
      rpy="0 0 0" />
    <parent
      link="left_white_link" />
    <child
      link="left_lower_leg" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="0.0163975042181896 1.4942408367094E-06 1.44789380471799E-05"
        rpy="0 0 0" />
      <mass
        value="0.0821704328888881" />
      <inertia
        ixx="5.18918517468186E-05"
        ixy="1.09627495767423E-09"
        ixz="1.03037099311579E-08"
        iyy="2.85934695475492E-05"
        iyz="-6.63185847403858E-09"
        izz="2.85331674559978E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.831372549019608 0.690196078431373 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="0.0012149 -0.032821 -0.050227"
      rpy="0 0 0" />
    <parent
      link="left_lower_leg" />
    <child
      link="left_wheel" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="10"
      velocity="5" />
  </joint>
  <link
    name="right_upper_leg">
    <inertial>
      <origin
        xyz="0.00184708627605789 0.00527582762359724 -0.0297682879095216"
        rpy="0 0 0" />
      <mass
        value="0.00481811162392332" />
      <inertia
        ixx="1.4174199151064E-06"
        ixy="-2.39468925659096E-09"
        ixz="1.44450248819537E-08"
        iyy="1.38207853254159E-06"
        iyz="2.36580110271676E-07"
        izz="9.83800252413466E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/right_upper_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.831372549019608 0.690196078431373 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/right_upper_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_joint"
    type="revolute">
    <origin
      xyz="-0.051549 0.021878 0.068469"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_upper_leg" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="right_white_link">
    <inertial>
      <origin
        xyz="0.00351284822399885 0.0104053715429721 -0.0199747016894158"
        rpy="0 0 0" />
      <mass
        value="0.013656181652782" />
      <inertia
        ixx="6.17217197752315E-06"
        ixy="-3.36777800830508E-08"
        ixz="6.73047936266072E-08"
        iyy="4.65950990674751E-06"
        iyz="2.14276287575573E-06"
        izz="1.6798168741624E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/right_white_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/right_white_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_white_top_joint"
    type="revolute">
    <origin
      xyz="-0.054549 -0.00061239 0.048645"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_white_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="right_lower_leg">
    <inertial>
      <origin
        xyz="0.00343829839865448 -0.0133321356992642 -0.033681435773528"
        rpy="0 0 0" />
      <mass
        value="0.0110711643117395" />
      <inertia
        ixx="9.00075506732013E-06"
        ixy="4.80866984296022E-08"
        ixz="1.32803764739554E-07"
        iyy="7.2092196083704E-06"
        iyz="-2.34009087652803E-06"
        izz="1.84773702007399E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/right_lower_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.831372549019608 0.690196078431373 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/right_lower_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_white_bottom_joint"
    type="revolute">
    <origin
      xyz="0.00125 0.027589 -0.053281"
      rpy="0 0 0" />
    <parent
      link="right_white_link" />
    <child
      link="right_lower_leg" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="-0.0146672533221633 1.03931062572886E-05 1.01744143693044E-05"
        rpy="0 0 0" />
      <mass
        value="0.0821706718156144" />
      <inertia
        ixx="5.18920334203968E-05"
        ixy="-7.40037922901773E-09"
        ixz="-7.2431054293338E-09"
        iyy="2.85625149520643E-05"
        iyz="-3.08581804877213E-08"
        izz="2.85643061419357E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.831372549019608 0.690196078431373 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://final_assem1/meshes/right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="0.0028252 -0.021336 -0.056078"
      rpy="0 0 0" />
    <parent
      link="right_lower_leg" />
    <child
      link="right_wheel" />
    <axis
      xyz="-1 0 0" />
    <limit
      effort="10"
      velocity="5" />
  </joint>
</robot>